body {
    background-color: rgb(84, 158, 172);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 20px;
}

img {
    height: 50%;
    width: 40%;
}


header {
    background-color: rgb(40, 138, 158);

}

h1 {
    color: rgb(0, 0, 0);

}

p {
    color: rgb(0, 0, 0);
    font-family: s;
    position: center;
}

ul {
    color: rgb(0, 0, 0);

}

nav {
    background-color: rgb(40, 138, 158);
    display: flex;
    justify-content: center;
    padding: 5px;
    word-spacing: 200px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 0px;
}

nav a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: crosshair;
}

section {
    margin: 20px;
}

footer {
    background-color: rgb(243, 243, 243);
    color: rgb(0, 0, 0);
    position: fixed;
    padding: 10px;
    bottom: 0;
}